@using System.Web.Mvc.Html
@using MVCSmartHouse.ViewModels.AdaptInterfacies;
@using SimpleSmartHouse1._0

@model IEnumerable<Device>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Smart House</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jScript")
</head>
<body>
    @using (Html.BeginForm("Add", "SmartHouse"))
    {
        @Html.DropDownList("device", (IEnumerable<SelectListItem>)ViewBag.DeviceList, new { @class = "dropDownDeviceList" })
        <input type="submit" value="Add" class="button" />
        <br />

        foreach (var item in Model)
        {
            <div class="device-div" id="dev-@item.Id">

                @*************************@
@if (item is IlluminatorModeAble)
{
                <div class="conditionRow" id="conditionRow-@item.Id">
                    Device: @item.Name
                    <br />
                    @item.ToString()
                    <br>
                    <br>
                </div>       
                @* SET OnOfDel WebAPI*@
                <span>
                    <a id="on-@(item.Id)" onclick='sendSwitchParamAjax(@item.Id,"on")' class="button">on</a>
                </span>
                <span>
                    <a id="off-@(item.Id)" onclick='sendSwitchParamAjax(@item.Id,"off")' class="button">off</a>
                </span>
                <span>
                    <a id="del-@(item.Id)" onclick='sendDelAjax(@item.Id)' class="button">del</a>
                </span>
                @*<input type="hidden" id="command-@Model.Id" value="on" name="itemId">*@
                <input type="hidden" id="Index-@item.Id" value="@item.Id" name="itemId">
                <input type="hidden" id="deviceName-@item.Id" value="Lamp" name="itemId">
                <br /><br />
                @* Image *@
                if (item.State == true)
                {
                    <img src="~/Content/image/onLamp.png" id="state-@item.Id" class="img" alt="Lamp On">
                }
                else
                {
                    <img src="~/Content/image/offLamp.png" id="state-@item.Id" class="img" alt="Lamp Off">
                }
                <br>
                <br>
                @* ***** *@
                @* SET MODE BrightMode*@
                @Html.DropDownList("ill", new SelectList(new[] {IlluminatorBrightness.BrightWhite.ToString(), IlluminatorBrightness.Daylight.ToString(),
                               IlluminatorBrightness.WarmWhite.ToString(),IlluminatorBrightness.Default.ToString()}),
                        (string)Session["illBright"], new { id = "brMode", @class = "dropDownDeviceList" })

                <input type="submit" id="@item.Id" formaction="SetIlluminatorBright/@item.Id" class="button" value="Set bright" />
                @* SET MODE Api *@
                <br>@*<br>
        <span>
            <a id="bri-@(Model.Id)" onclick='sendAjaxSetBright(@Model.Id)' class="button">SetBrightApi</a>
        </span>
        <br>
        <br>*@

                @*************************@
}
                @*@if (item is IlluminatorModeAble)
                {
                    <div id="result-@item.Id">
                        @Html.Partial("PartialLampView", item)
                    </div>
                }
                else*@ @if (item is IHandSetTempWarmAble)
                {
                    <div id="result-@item.Id">
                        @Html.Partial("PartialHeaterView", item)
                    </div>
                }
                else if (item is IHandSetTempColdAble)
                {
                    <div id="result-@item.Id">
                        @Html.Partial("PartialACView", item)
                    </div>
                }
            </div>
        }
    }
    @Scripts.Render("~/bundles/jScript")
    <script src="~/Scripts/jScript.js"></script>
</body>
</html>
