@using System.Web.Mvc.Html
@using MVCSmartHouse.ViewModels.AdaptInterfacies;
@using SimpleSmartHouse1._0

@model IEnumerable<Device>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Smart House</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/heatDevice")
</head>
<body>
    @using (Html.BeginForm("Add", "SmartHouse"))
    {
        @Html.DropDownList("device", (IEnumerable<SelectListItem>)ViewBag.DeviceList, new { @class = "dropDownDeviceList" })
        <input type="submit" value="Add" class="button" />
        <br />

        foreach (var item in Model)
        {
            <div class="device-div">

                @if (item is IlluminatorModeAble)
                {
                    <div id="result-@item.Id">
                        @Html.Partial("PartialLampView", item)
                    </div>
                }
                else if (item is IHandSetTempWarmAble)
                {
                    <div id="result-@item.Id">
                        @Html.Partial("PartialHeaterView", item)
                    </div>
                }
                else if (item is IHandSetTempColdAble)
                {
                    <div id="result-@item.Id">
                        @Html.Partial("PartialACView", item)
                    </div>
                }
            </div>
        }
    }
    @Scripts.Render("~/bundles/jScript")
    <script src="~/Scripts/jScript.js"></script>
</body>
</html>
