@using SimpleSmartHouse1._0
@using MVCSmartHouse.ViewModels.AdaptInterfacies
@model SimpleSmartHouse1._0.AirCondition

<div class="conditionRow">
    Device: @Model.Name
    <br />
    @Model.ToString()
    <br>
    <br>
</div>
@* SET OnOfDel MVC*@
@*<span>@Html.ActionLink("On", "MainFunc", new { id = Model.Id, command = "On" }, new { @class = "button" })</span><!-- ON -->
<span>@Html.ActionLink("Off", "MainFunc", new { id = Model.Id, command = "Off" }, new { @class = "button" })</span><!-- OFF -->
<span>@Html.ActionLink("Del", "Delete", new { id = Model.Id }, new { @class = "button" })</span><!-- DEL -->
<br>
<br>*@
@* SET OnOfDel WebAPI*@
<span>
    <a id="on-@(Model.Id)" onclick='sendSwitchParamAjax(@Model.Id,"on")' class="button">on</a>
</span>
<span>
    <a id="off-@(Model.Id)" onclick='sendSwitchParamAjax(@Model.Id,"off")' class="button">off</a>
</span>
<span>
    <a id="del-@(Model.Id)" onclick='sendDelAjax(@Model.Id)' class="button">del</a>
</span>
<input type="hidden" id="Index-@Model.Id" value="@Model.Id" name="itemId">
<input type="hidden" id="deviceName-@Model.Id" value="AC" name="itemId">
<br /><br />
@* Image *@
@if (Model.State == true)
{
    <img src="~/Content/image/onAC.png" class="img" alt="Heater On">
}
else
{
    <img src="~/Content/image/offAC.png" class="img" alt="Heater Off">
}
<br>
<br>
@* SET TEMP MVC *@
@*<input type="submit" id="@Model.Id" formaction="SetColdTemperature/@Model.Id" class="button" value="Set temperature" />
    @Html.TextBox("coldTemper", Session["coldTemper"], new { id = "coldTemper" + Model.Id, size = "3" })
    <br />
    <br />*@
@* SET TEMP Api *@
<span>
    <a id="setParam-@(Model.Id)" onclick='sendSetParamAjax(@Model.Id,"coldTemp")' class="button">Set temperature</a>
</span>
@Html.TextBox("coldTemper", "", new { id = "handSetPar-" + "coldTemp" + Model.Id, size = "3" })
<br />
<br />

@* INC/DEC TEMP MVC*@
@*@Html.ActionLink("Temp +", "MainFunc", new { id = Model.Id, command = "IncTemp" }, new { @class = "button" })
    @Html.ActionLink("Temp -", "MainFunc", new { id = Model.Id, command = "DecTemp" }, new { @class = "button" })
    <br />
    <br />*@
@* INC/DEC TEMP Api *@
<span>
    <a id="incT-@(Model.Id)" onclick='sendSwitchParamAjax(@Model.Id,"IncTemp")' class="button">Temp +</a>
</span>
<span>
    <a id="decT-@(Model.Id)" onclick='sendSwitchParamAjax(@Model.Id,"DecTemp")' class="button">Temp -</a>
</span>
<br />
<br />
@* SET MODE Mode MVC*@
    @Html.DropDownList("coldMode", new SelectList(new[] { Mode.Turbo.ToString(), Mode.Eco.ToString(), Mode.Low.ToString(), Mode.Auto.ToString() }),
                         (string)Session["cMode"], new { id = "wMode" + Model.Id, @class = "dropDownDeviceList" })
    <input type="submit" id="@Model.Id" formaction="SetColdMode/@Model.Id" class="button" value="Set Cold Mode" />
<br />
@* Api *@
